# build output
dist/

# generated types
.astro/
astro_tmp_pages_*

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Skip TurboRepo
.turbo

# skip stylify
src/styles/page/
src/styles/layout/
