---
import Layout from '@/layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t.notfound.title}>
	<h1>{t.notfound.title}</h1>
	<p class="NotFound">{t.notfound.message}</p>
	<br />
	<hr />
	<p class="info" style={{ visibility: 'hidden' }}></p>
</Layout>
<script src="@/ts/pages/404.mts"></script>
