---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="404 Not Found">
	<h1>404 Not Found</h1>
	<p class="NotFound">Sivu jota yrität käyttää ei löytynyt.</p>
	<br />
	<hr />
	<p class="info invisible"></p>
</Layout>
<script src="@/ts/pages/404.mts"></script>
