---
import Layout from '@/layouts/Layout.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t.about.title}>
	<main>
		<h1>{t.about.title}</h1>
		<p class="author">{t.about.author}</p>
	</main>
</Layout>

<style>
	:root {
		--author: oklch(99.7% 0 0);
	}
	@media (prefers-color-scheme: dark) {
		:root {
			--author: oklch(52.5% 0 216);
		}
	}

	.author {
		color: var(--author);
	}
</style>
