---
import Layout from '../layouts/Layout.astro';
import { Button } from '../components/ui/button.tsx';
---

<Layout title="Share files to me securely" activeNav="share">
  <main>
    <input type="file" id="fileinput">
    <Button id="send">Lähetä</Button>
    <p id="response"></p>
  </main>
</Layout>

<script>
import { query } from "@/ts/global";
import { xxhash3 } from "hash-wasm";
import { $ } from "@/ts/jquery";
import * as openpgp from 'openpgp/lightweight';
import { Base64 } from 'js-base64';
import * as z from 'zod/mini';
import { en } from "zod/locales";

z.config(en());

query<HTMLButtonElement>("#send").addEventListener('click', async () => {
  const url = "http://127.0.0.1:3000"
  const fileinput = query<HTMLInputElement>("#fileinput");
  const responsetext = query<HTMLParagraphElement>("#response");
  if (!fileinput.files) return;

  responsetext.style.display = "block";
  if (!fileinput.files.length) {
    alert("Please select a file first");
    return;
  }

  const fileSchema = z.file().check(
    z.maxSize(4_000_000_000)
  )

  const file = fileSchema.safeParse(fileinput.files[0]);
  if (!file.success) {
    responsetext.textContent = "Maximum size of files to upload is 4GB";
    return;
  }
  const fileBuffer = await file.data.arrayBuffer();

  let base64Data = btoa(Array.from(new Uint8Array(fileBuffer), (c) => String.fromCharCode(c)).join('')); 

  const payload_encrypt = z.object({
    originalFileName: z.string(),
    mimeType: z.string(),
    size: z.number().nonnegative(),
    dataBase64: z.string().refine(Base64.isValid)
  });

  const payload_plain = z.object({
    originalFileName: z.string(),
    timestamp: z.iso.datetime({ offset: true }),
  })

  const payload = payload_encrypt.parse({
    originalFileName: file.name,
    mimeType: file.type || 'application/octet-stream',
    size: file.size,
    dataBase64: base64Data
  });

   base64Data = "";

  const jsonString = JSON.stringify(payload);

  const publicKeyArmored = await (await fetch(url + '/share/pgp', {
    method: 'POST',
    mode: 'cors',
    headers: {
      'Content-Type': 'test/plain'
    }
  })).text()
  if (publicKeyArmored == null) {
    return;
  }

  const publickey_hash = await xxhash3(new TextEncoder().encode(publicKeyArmored));
  const publickey = await openpgp.readKey({ armoredKey: publicKeyArmored });

  const encrypted = await openpgp.encrypt({
    message: await openpgp.createMessage({ text: jsonString }),
    encryptionKeys: publickey
  });
  const payload_p =  payload_plain.parse({
    originalFileName: file.name,
    timestamp: new Date().toISOString()
  })
  const response = await fetch('http://127.0.0.1:3000/share', {
    method: 'POST',
    mode: 'cors',
    headers: {
      'Content-Type': 'application/json;charset=UTF-8'
    },
    body: JSON.stringify({
      encryptedData: encrypted,
      originalFileName: payload_p.originalFileName,
      timestamp: payload_p.timestamp,
      publickey_hash: publickey_hash
    })
  }).catch(e => {
      console.error('Error sending data: ', e);
      responsetext.textContent = "Error Sending data: " + e;
    });

  if (!response) {
    console.error('Error sending data');
    responsetext.textContent = "Error sending data";
  } else if (response.ok) {
    responsetext.textContent = "Files are successfully send";
  }
})
</script>

<style>
  #response {
    display: none;
  }
</style>
