---
import Layout from '../../layouts/Layout.astro';
import ImageHolder from '../../components/ImageHolder.astro';

import winterLandscape from '../../data/images/talvinen maisema 2.jpg';
import Big_root from '../../data/images/Iso kanto.jpg';
import BlueSky from '../../data/images/sininen taivas.jpg';
import Sunflower from '../../data/images/auringon kukka 2.jpg';
---

<Layout title="Kuvat" activeNav="kuvat">
	<main>
		<h1 class="text-gradient">Kuvat</h1>
		<p>Minun ottamiani kuvia eri paikoista.</p>
		<ul role="list" class="image-card-grid">
			<ImageHolder
				src={winterLandscape}
				title="Talvinen Maisema Sillalta."
				body=""
				alt=""
				class="images"
			/>
			<ImageHolder src={Big_root} title="Iso Kanto." body="" alt="" class="images" />
			<ImageHolder src={BlueSky} title="Sinine Taivas." body="" alt="" class="images" />
			<ImageHolder src={Sunflower} title="Auringon kukka." body="" alt="" class="images" />
		</ul>
	</main>
</Layout>

<style>
	p {
		text-align: center;
		font-size: 1.2rem;
		line-height: 1;
		margin-bottom: 1em;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.images {
		aspect-ratio: auto;
	}

	.image-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
		justify-items: center;
		gap: 0.25rem;
		padding-inline: 0.7rem;
	}
</style>

<script>
	// import { dynImport } from '@/ts/global/dynamic_import.ts';
	// import { isHoliday } from '@/ts/global';
	import { dynImport } from '@/ts/dynamic-import';

	document.addEventListener('astro:page-load', () => {
		/* const oldtext = document.querySelector('.how_old'); */
		const query = dynImport.global.query;

		const holiday = dynImport.global.isHoliday([
			query('.text-gradient'),
			query('.images'),
			query('p'),
			'.navItem',
		]);

		if (holiday.bool) {
			holiday.script;
		}
	});
</script>
