<p class="ip"></p>

<script>
	import { siteConfig } from '@/config';
	import { query } from '@/ts/global';
	import { fetchData } from '@/ts/cloudflare-trace';
	
	const data = await fetchData().then(a => a);
	query('.ip').innerText = data.ip;
</script>
