<p class="ip"></p>

<script>
	import { siteFeatures } from '@/configFeatures';
	import { fetchData } from '@/lib/cloudflare-trace';

	if (siteFeatures.params.functions.fetchIPP) {
		const data = await fetchData();
		const ipEl = document.querySelector<HTMLParagraphElement>('.ip');
		if (ipEl) ipEl.innerText = data.ip;
	}
</script>
