<p class="ip"></p>

<script>
	import { siteFeatures } from '@/configFeatures';
	import { fetchData } from '@/ts/cloudflare-trace';

	if (siteFeatures.params.functions.fetchIPP) {
		const data = await fetchData().then((a) => a);
		const ipEl = document.querySelector<HTMLParagraphElement>('.ip');
		if (ipEl) ipEl.innerText = data.ip;
	}
</script>
