<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span
		id="js-cookie-button"
		class="cookie-btn">I Accept</span
	>
</div>

<script>
	import { siteFeatures } from '@/configFeatures';

	if (siteFeatures.params.cookies.cookiesEnabled) {
		(async function () {
			const Cookies = (await import('js-cookie')).default;
			const cookieBox = document.querySelector('#js-cookie-box');
			const cookieButton = document.querySelector<HTMLButtonElement>('#js-cookie-button');
			if (Cookies.get('cookie-box') !== '1' && cookieBox && cookieButton) {
				cookieBox.classList.remove('cookie-box-hide');
				cookieButton.onclick = function () {
					Cookies.set('cookie-box', '1', {
						expires: siteFeatures.params.cookies.expire_days,
					});
					cookieBox.classList.add('cookie-box-hide');
				};
			}
		})();
	}
</script>

<style>
	.cookie-box {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		z-index: 9999;
		padding: 1rem 2rem;
		background: #152035;
		transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
		color: #fdfdfd;
	}

	.cookie-box-hide {
		display: none;
	}

	.cookie-btn {
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		border-radius: 0.25rem;
		margin-left: 0.5rem;
		margin-left: calc(0.25rem * 2);
		background-color: #007bff;
		color: white;
		border: 1px solid #007bff;
		cursor: pointer;
		border-radius: 0.25rem;
		&:hover {
			background-color: #0069d9;
		}
	}
</style>
