---
import { Image } from 'astro:assets';
import humanstxt from '@/data/img/humanstxt-transparent-1ink.png';

const year = new Date().getFullYear();

interface Props {
	isCopyright?: boolean;
}

const insert_year = () => {
	if (year === 2024) return;
	return `-${year}`;
};

const isCopyright = (): boolean => {
	const { isCopyright } = Astro.props;
	if (isCopyright == null) {
		return true;
	} else {
		return isCopyright;
	}
};
---

<footer>
	{
		isCopyright() && (
			<p class="text-center">
				Tekijänoikeus &copy; 2024{insert_year} Jere L 
			</p>
		)
	}
</footer>
