---
const year = new Date().getFullYear();

const insert_year = () => {
	if (year === 2024) return;
	return `-${year}`;
};
---

<footer>
	<p style="text-align: center">
		Tekij채noikeus &copy; 2024{insert_year} Jere E.L Kaikki oikeudet pid채tet채채n
	</p>
</footer>
