---
import { Image } from "astro:assets";
import humanstxt from "@/data/img/humanstxt-transparent-1ink.png";

interface Props {
  isCopyright?: boolean;
}

const isCopyright = (): boolean => {
  const { isCopyright } = Astro.props;
  if (isCopyright === null || isCopyright === undefined) {
    return true;
  } else {
    return isCopyright === true;
  }
};

const copyrightText = `Tekijänoikeus \u00A9 2024-${new Date().getFullYear()} Jere L`;
---

<footer transition:name="footer">
	{
		isCopyright() && (
    <p class="copyright" data-value={copyrightText}>{copyrightText}</p>
		)
	}
</footer>

<style>
  footer {
    position: fixed;
    left: 0;
    bottom: 0.8rem;
    width: 100%;
    text-align: center;
  }
  footer p {
    margin-inline: auto;
  }
</style>

<script>
  import { query } from '@/ts/global';

  const target = query(".copyright");
  target.addEventListener('mouseover', () => {
    import('@/ts/hacker-text').then(({ default: hackerText }) => {
      if (target.dataset.value) {
        hackerText(target, target.dataset.value, true);
      }
    });
  });
</script>
