---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import { translations, type Lang } from '@/i18n/types';

interface Props {
	active: string | undefined;
}

const { active } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const languages = Object.keys(translations) as Lang[];

const navigationMenuTriggerStyle = 'nav-link';
const activefunc = (active: string | undefined, activetab: string | undefined): string => {
	return active === activetab ? 'nav-link-active' : '';
};

const default_class_links = `${navigationMenuTriggerStyle} navItem`;

const links: {
	href: string;
	active?: string;
	name?: string;
}[] = [
	{
		href: translatePath('/'),
		active: 'koti',
		name: t.nav.home,
	},
	{
		href: translatePath('/images'),
		active: 'kuvat',
		name: t.nav.images.title,
	},
	{
		href: translatePath('/blog'),
		active: 'blog',
		name: t.nav.blog.title,
	},
	...languages
		.filter((item) => item !== lang)
		.map((language) => ({
			href: translatePath(Astro.url.pathname, language),
      name: new Intl.DisplayNames(language, {type: "language"}).of(language),
		})),
];
---

<nav class="nav-container navmenu">
	<div class="nav-wrapper">
		<ul class="nav-list" data-orientation="horizontal" dir="ltr">
			{
				links.map((item) => (
					<li class="nav-card">
						<a
							href={item.href}
							class={`${default_class_links} ${activefunc(active, item.active)}`}
						>
							{' '}
							{item.name}{' '}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
<style>
	.nav-container {
		position: relative;
		z-index: 10;
		display: flex;
		flex: 1;
		max-width: max-content;
		align-items: center;
		justify-content: center;
	}

	.nav-wrapper {
		display: flex;
		flex: 1;
		list-style: none;
		align-items: center;
		justify-content: center;
	}

	.nav-list {
		display: flex;
		flex: 1;
		list-style: none;
		align-items: center;
		justify-content: left;
		gap: 0.25rem;
	}

	.nav-link {
		display: inline-flex;
		height: 2.25rem;
		width: max-content;
		align-items: center;
		justify-content: center;
		border-radius: 0.375rem;
		background-color: var(--background);
		padding: 0.5rem 1rem;
		font-size: 0.875rem;
		font-weight: 500;
		transition:
			background-color 150ms,
			color 150ms;
	}

	.nav-link:hover {
		background-color: var(--accent);
		color: var(--accent-foreground);
	}

	.nav-link:focus {
		background-color: var(--accent);
		color: var(--accent-foreground);
		outline: none;
	}

	.nav-link:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	.nav-link-active {
		background-color: #1e3a5f;
	}

	.nav-link[data-active],
	.nav-link[data-state='open'] {
		background-color: color-mix(in srgb, var(--accent) 50%, transparent);
	}

	.navmenulink {
		width: 4.8rem;
	}

	li + li {
		margin-left: 0.1rem;
	}

	.nav-card {
		--border-width: 1px;
		border-radius: 0.25rem;
		position: relative;
		transition: filter 150ms ease-in-out;

		background: hsl(from var(--surface-3) h s l / 0.25);
		backdrop-filter: blur(20px);
	}

	.nav-card:hover {
		cursor: pointer;
		filter: brightness(180%) saturate(150%);
	}

	.nav-card::before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		border-radius: inherit;
		border: var(--border-width) solid transparent;
		background: linear-gradient(var(--border-1), var(--border-2)) border-box;
		mask:
			linear-gradient(black, black) border-box,
			linear-gradient(black, black) padding-box;
		mask-composite: subtract;
	}
</style>
