---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@/i18n/utils';
import { translationLoaders, type Lang } from '@/i18n/types';

interface Props {
	active: string | undefined;
}

const { active } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = (await useTranslations(lang));
const translatePath = useTranslatedPath(lang);

const languages = Object.keys(translationLoaders) as Lang[];

const navigationMenuTriggerStyle = 'nav-link';
const activefunc = (active: string | undefined, activetab: string | undefined): string => {
	return active === activetab ? 'nav-link-active' : '';
};

const default_class_links = `${navigationMenuTriggerStyle} navItem`;

const links: {
	href: string;
	active?: string;
	name?: string;
}[] = [
	{
		href: translatePath('/'),
		active: 'koti',
		name: t.nav.home,
	},
	{
		href: translatePath('/images'),
		active: 'kuvat',
		name: t.nav.images.title,
	},
	{
		href: translatePath('/blog'),
		active: 'blog',
		name: t.nav.blog.title,
	},
	...languages
		.filter((item) => item !== lang)
		.map((language) => ({
			href: translatePath(Astro.url.pathname, language),
      name: new Intl.DisplayNames(language, {type: "language"}).of(language) ?? language,
		})),
];
---

<nav class="nav-container navmenu">
		<ul class="nav-list" data-orientation="horizontal" dir="ltr">
			{
				links.map((item) => (
					<li class="nav-card gradient-border glass-surface">
						<a
							href={item.href}
							class={`${default_class_links} ${activefunc(active, item.active)}`}
						>
							{' '}
							{item.name}{' '}
						</a>
					</li>
				))
			}
		</ul>
</nav>
<style>
	.nav-container {
		position: relative;
		z-index: 10;
	}

	.nav-list {
		display: flex;
    gap: 0.25rem;
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

	.nav-link {
		display: inline-flex;
		height: 2.25rem;
		border-radius: 0.375rem;
		background-color: var(--background);
		padding: 0.5rem 1rem;
		font-size: 0.875rem;
		font-weight: 500;
		transition:
			background-color 150ms,
      color 150ms;
    color: inherit;
	}

	.nav-link:hover {
		background-color: var(--accent);
		color: var(--accent-foreground);
	}

	.nav-link:focus {
		background-color: var(--accent);
		color: var(--accent-foreground);
		outline: none;
	}

	.nav-link:disabled {
		pointer-events: none;
		opacity: 0.5;
	}

	.nav-link-active {
		background-color: #1e3a5f;
	}

	.nav-link[data-active],
	.nav-link[data-state='open'] {
		background-color: color-mix(in srgb, var(--accent) 50%, transparent);
	}

	li + li {
		margin-left: 0.1rem;
	}

	.nav-card {
		border-radius: 0.25rem;
		transition: filter 150ms ease-in-out;
		backdrop-filter: blur(20px);
	}

	.nav-card:hover {
		cursor: pointer;
		filter: brightness(180%) saturate(150%);
	}
</style>
