---
interface Props {
	unixTime: number;
}

const { unixTime } = Astro.props;
---

<time-unix data-unixTime={unixTime}>
	<p class="timeto"></p>
</time-unix>

<script>
	import { language, query } from '@/ts/global';

	class timeto extends HTMLElement {
		async connectedCallback() {
			query('.timeto').innerText = (await import('date-fns/formatDistanceStrict')).formatDistanceStrict(
				(await import('date-fns/fromUnixTime')).fromUnixTime(Number(this.dataset.unixTime)),
				new Date(),
				{
				  locale: language() == 'fi' ? (await import('date-fns/locale/fi')).fi : undefined
				}
			);
		}
	}
	customElements.define('time-unix', timeto);
</script>

<style>
	.timeto {
		border-color: oklab(0.431937 0.00109309 -0.0132537 / 0.48);
		border-radius: 10px;
	}
</style>
