h1 {
	margin: 0 0 0.8333333em;
	font-size: 2.5em;
	line-height: 1.2;
}

h2 {
	font-size: 1.6666667em;
	margin: 1.8666667em 0 1.0666667em;
	line-height: 1.3333333;
}

h3 {
	font-size: 1.3333333em;
	margin: 1.6666667em 0 0.6666667em;
	line-height: 1.5;
}

h4,
h5,
h6 {
	margin: 1.7777778em 0 0.4444444em;
	line-height: 1.5555556;
}

:is(h1, h2, h3, h4, h5, h6) + * {
	margin-top: 0;
}
