@import "./styles/prism-one-dark.css";

@layer base {
  :root,
  :host {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;

    --font-sans:
      ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      monospace;
    --spacing: 0.25rem;

    --accent-rgb: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent-rgb)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );

    --border-width: 1px;
    --color-surface: hsl(243, 26%, 15%);
    --color-border-1: hsl(259, 26%, 28%);
    --color-border-2: hsl(252, 9%, 22%);
    --color-link: #bcc6f3;
    --color-link-visited: #7166a9;
    --color-muted: oklch(68.69% 0 0);
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
  }

  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    padding: 0;
    box-sizing: border-box;
  }

  html,
  :host {
    line-height: 1.5;
    tab-size: 4;
    font-family: var(--font-sans);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-size: 224px;
  }

  a {
    color: var(--color-link);
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
  }

  a:visited {
    color: var(--color-link-visited);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono);
    font-size: 1em;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    font: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background: transparent;
  }

  textarea {
    resize: vertical;
  }

  table {
    text-indent: 0;
    border-collapse: collapse;
    border-color: inherit;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in oklab, currentcolor 50%, transparent);
  }

  body {
    background: hsl(var(--background));
    color: hsl(var(--foreground));
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  p,
  li,
  figcaption {
    text-wrap: pretty;
  }

  a:focus-visible {
    outline: 3px solid hsl(var(--border) / 0.9) !important;
    outline-offset: 3px !important;
  }
}

.gradient-border {
  position: relative;
}

.gradient-border::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(var(--color-border-1), var(--color-border-2)) border-box;
  mask:
    linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
}

.glass-surface {
  background: hsl(from var(--color-surface) h s l / 0.25);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
