---
import { getLocale } from "astro-i18n-aut";
import CommonHead from '@/components/CommonHead.astro';
import NavMenu from '@/components/nav-menu.astro';
import Cookies from '@/components/cookies.astro';
import Footer from '@/components/Footer.astro';
import ReloadPrompt from '../components/ReloadPrompt.astro';

// import { ModeToggle } from '@/components/react/ModeToggle';

// configs
import { siteConfig } from '../config';

interface Props {
	title: string | undefined;
	isNavbar?: boolean;
	isFooter?: boolean;
	isDark?: boolean;
	isCSS?: boolean;
	isCopyright?: boolean;
	activeNav?: string;
}

const { title, isNavbar = true, isFooter = true, isDark = true, isCSS = true, activeNav } = Astro.props;
const lang = getLocale(Astro.url);
---

<html class:list={[{dark: isDark}]} lang={lang}>
	<head>
		<CommonHead title={siteConfig.title + ' | ' + title}></CommonHead>
		<slot name="head" />
	</head>
	<body>
	    { isNavbar && (
    		<div class="NavMenu">
   			<header>
    				<NavMenu active={activeNav}></NavMenu>
   			</header>
    		</div>
		)}
		<slot />
		{siteConfig.params.cookies.cookiesEnabled && <Cookies/>}
		<ReloadPrompt />
		{ isFooter && <Footer /> }
		{
			false && (
					<div
						style="visibility: hidden;"
						data-sitekey="0x4AAAAAAAbhEsfftzTNsmMO"
						data-theme="dark"
					/>
					<noscript>
						<iframe
							src="https://www.googletagmanager.com/ns.html?id=GTM-P6SH88WW"
							height="0"
							width="0"
							style="display:none;visibility:hidden"
						/>
					</noscript>
			)
		}
		{
			false && (
				<script
					is:inline
					src="https://challenges.cloudflare.com/turnstile/v0/api.js"
					defer
				/>
			)
		}
	</body>
</html>