---
import { getLocale } from "astro-i18n-aut";
import CommonHead from '@/components/CommonHead.astro';
import NavMenu from '@/components/nav-menu.astro';
import Footer from '@/components/Footer.astro';

// import { ModeToggle } from '@/components/react/ModeToggle';

// configs
import { siteConfig } from '../config';

// CSS
import '../styles/holidays/index.css';

interface Props {
	title: string | undefined;
	isCopyright?: boolean; 
	activeNav?: string;
}

const { title, activeNav } = Astro.props;
const lang = getLocale(Astro.url);
---

<html class="dark" lang={lang}>
	<head>
		<CommonHead title={siteConfig.title + ' | ' + title}></CommonHead>
		<slot name="head" />
	</head>
	<body>
		<div class="NavMenu">
			<header>
				<NavMenu active={activeNav}></NavMenu>
			</header>
		</div>
		<slot />
		<Footer />
		{
			false && (
					<div
						style="visibility: hidden;"
						data-sitekey="0x4AAAAAAAbhEsfftzTNsmMO"
						data-theme="dark"
					/>
					<noscript>
						<iframe
							src="https://www.googletagmanager.com/ns.html?id=GTM-P6SH88WW"
							height="0"
							width="0"
							style="display:none;visibility:hidden"
						/>
					</noscript>
			)
		}
		{
			false && (
				<script
					is:inline
					src="https://challenges.cloudflare.com/turnstile/v0/api.js"
					defer
				/>
			)
		}
	</body>
</html>