---
import { Font } from 'astro:assets';
import { getLangFromUrl } from '@/i18n/utils';
import { siteFeatures } from '@/configFeatures';
import CommonHead from '@/components/CommonHead.astro';
import NavMenu from '@/components/nav-menu.astro';
import Footer from '@/components/Footer.astro';
import SplashCursor from '@/components/ui/SplashCursor';
import Cookies from '@/components/cookies.astro';

import type { Lang } from '@/i18n/types';

import '@/styles/view-transition.scss';
import '@/global.css';

interface Props {
  title?: string;
  lang?: Lang;
	isNavbar?: boolean;
	isFooter?: boolean;
  isDark?: boolean;
  isBanner?: boolean;
	isSplash?: boolean;
	isCopyright?: boolean;
	activeNav?: string;
}

const {
  title,
  lang = getLangFromUrl(Astro.url),
	isNavbar = true,
	isFooter = true,
  isDark = true,
  isBanner = true,
	isSplash = siteFeatures.params.functions.splashcursor,
	activeNav,
} = Astro.props;

const kaoid = 'kao';
---

<html class:list={[{ dark: isDark }]} lang={lang}>
	<head>
		<CommonHead title={title ?? ""} />
		<Font cssVariable="--font-creepster" />
		<Font cssVariable="--font-butcherman" />
		<slot name="head" />
	</head>
	<body>
		{isSplash && <SplashCursor client:only="preact" />}
		<header>
			{isBanner && <div id={kaoid} />}
      {isNavbar && <NavMenu active={activeNav} lang={lang} />}
		</header>
		<slot />
		{siteFeatures.params.cookies.cookiesEnabled && <Cookies />}
		{isFooter && <Footer />}
    {isBanner &&
      <script
        is:inline
        defer
        src="https://cdn.jsdelivr.net/gh/keepandroidopen/keepandroidopen.github.io@1668c3b644ec5a48d2098fced256a722b9b0ee6f/public/banner.js"
        integrity="sha256-IYcdTsLEgMZNoPR2N7KFPGuQHg2cj+6iEXVL8W7CXWM="
        crossorigin="anonymous"
        blocking="render">
      </script>
    }
	</body>
</html>

<script>
	import global from '@/ts/global-code';
	global();
</script>
