---
import { getLocale } from "astro-i18n-aut";
import { siteConfig } from "@/configFeatures";
import CommonHead from "@/components/CommonHead.astro";
import NavMenu from "@/components/nav-menu.astro";
import ReloadPrompt from "@/components/ReloadPrompt.astro";
import Footer from "@/components/Footer.astro";
import SplashCursor from "@/components/ui/SplashCursor";
import Cookies from "@/components/cookies.astro";

// import { ModeToggle } from '@/components/react/ModeToggle';

interface Props {
  title?: string;
  isNavbar?: boolean;
  isFooter?: boolean;
  isDark?: boolean;
  isCSS?: boolean;
  isSplash?: boolean;
  isCopyright?: boolean;
  activeNav?: string;
}

const {
  title,
  isNavbar = true,
  isFooter = true,
  isDark = true,
  isCSS = true,
  isSplash = siteConfig.params.functions.splashcursor,
  activeNav,
} = Astro.props;
const lang = getLocale(Astro.url).toLowerCase();
---

<html class:list={[{dark: isDark}]} lang={lang}>
	<head>
    <CommonHead title={title}>
    </CommonHead>
    <slot name="head" />
	</head>
  <body>
    {
    isSplash && <SplashCursor client:only="preact" /> 
    }
	  { isNavbar && (
    	<div class="NavMenu">
   		  <header>
    			<NavMenu active={activeNav} transition:persist></NavMenu>
   		  </header>
    	</div>
    )}
    <slot />
		{siteConfig.params.cookies.cookiesEnabled && <Cookies/>}
		<ReloadPrompt />
		{ isFooter && <Footer transition:persist /> }
		{
			false && (
					<div
						style="visibility: hidden;"
						data-sitekey="0x4AAAAAAAbhEsfftzTNsmMO"
						data-theme="dark"
					/>
			)
		}
		{
			false && (
				<script
					is:inline
					src="https://challenges.cloudflare.com/turnstile/v0/api.js"
					defer
				/>
			)
      }
    <script>
      if (window.location.host !== 'ozze.eu.org') {
        // @ts-ignore
        window.goatcounter = {no_onload: true}
      } else {
        // @ts-ignore
        window.goatcounter = {no_onload: true}

        window.addEventListener('hashchange', function(e) {
          // @ts-ignore
          window.goatcounter.count({
            path: location.pathname + location.search + location.hash,
          })
        })
      }
      </script>
    <script is:inline data-goatcounter="https://jere8809.goatcounter.com/count"
        async src="https://gc.zgo.at/count.js"></script>
	</body>
</html>

<script>
import { init } from '@/ts/global-code';
init();
</script>

<style>
  body {
    margin: 0rem;
  }

  @keyframes rotate {
    from {
      rotate: 0deg;
    }
  
    50% {
      scale: 1 1.5;
    }
  
    to {
      rotate: 360deg;
    }
  }
</style>
