---
import { getLangFromUrl } from '@/i18n/utils';
import CommonHead from '@/components/CommonHead.astro';
import NavMenu from '@/components/react/nav-menu';
// import Footer from '@/components/Footer.astro';

// import { ModeToggle } from '@/components/react/ModeToggle';

// configs
import { siteConfig } from '../config';

// CSS
import '../global.css';
import '../custom.css';
import '../styles/animate.css';
import '../styles/holidays/index.css';

interface Props {
	title: string | undefined;
	isCopyright?: boolean; 
	activeNav?: string;
}

const { title, isCopyright, activeNav } = Astro.props;

const isProd = import.meta.env.PROD;
const isDev = import.meta.env.DEV;

const lang = getLangFromUrl(Astro.url);
---

<script>
	const getThemePreference = () => {
		//if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
		//	return localStorage.getItem('theme');
		//}
		return 'dark';
		// return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = true;
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');

	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, {
			attributes: true,
			attributeFilter: ['class'],
		});
	}
</script>

<html class="dark" lang={lang}>
	<head>
		<CommonHead title={siteConfig.title + ' | ' + title}>
			<Fragment slot="prefetch">
				<link rel="dns-prefetch" href="//www.googletagmanager.com/" />
				<link rel="dns-prefetch" href="//challenges.cloudflare.com/" />
				<link rel="prefetch" href="https://www.googletagmanager.com/ns.html"/>
				<link rel="prefetch" href="https://challenges.cloudflare.com/turnstile/v0/api.js"/>
			</Fragment>
		</CommonHead>
		<slot name="head" />
	</head>
	<body>
		<div class="NavMenu">
			<header>
				<NavMenu active={activeNav}><!-- <ModeToggle client:visible /> --></NavMenu>
			</header>
		</div>
		<slot />
		{
			isProd && (
					<div
						style="visibility: hidden;"
						data-sitekey="0x4AAAAAAAbhEsfftzTNsmMO"
						data-theme="dark"
					/>
					<noscript>
						<iframe
							src="https://www.googletagmanager.com/ns.html?id=GTM-P6SH88WW"
							height="0"
							width="0"
							style="display:none;visibility:hidden"
						/>
					</noscript>
			)
		}
		{
			false && (
				<script
					is:inline
					src="https://challenges.cloudflare.com/turnstile/v0/api.js"
					defer
				/>
			)
		}
	</body>
</html>

<script>
  import { LetItGo } from "let-it-go";
  const snow = new LetItGo();
</script>