@font-face {
    font-family: 'monocraft';
    src: url('monocraft-webfont.woff2') format('woff2'),
         url('monocraft-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'minecraft_seven_v2';
    src: url('minecraft-seven_v2.25165468-webfont.woff2') format('woff2'),
         url('minecraft-seven_v2.25165468-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
